.header-container {
  img {
    width: 60px;
    height: 35px;
    margin-right: 26px;
  }
}
.subheading {
  margin-left: -35px;
  margin-right: -35px;
  .heading {
    margin-left: 35px;
    width: fit-content;
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
    padding-bottom: 22px;
    border-bottom: 2px solid #1a1a1a;
  }
  .title-border {
    border-bottom: 1px solid #c4c4c4;
  }
}
form {
  max-width: 550px;
  .picture-container {
    display: flex;
    margin-top: 44px;
    align-items: center;
    img {
      width: 50px;
      height: 30px;
      margin-right: 20px;
    }
    label {
      margin-left: 6px;
    }
  }
  .row {
    margin-bottom: 22px;
    .form-group {
      margin-right: 53px;
      margin-bottom: 0px;
      padding-right: 0px;
    }
    label {
      font-size: 14px;
      font-weight: 400;
      color: #909090;
    }
    textarea {
      resize: none;
    }
  }
}
