.wrapper {
  width: 100%;
  .section {
    .heading {
      padding-left: 0px;
    }
  }
  .opening-hours {
    margin-top: 23px;
    margin-bottom: 56px;
    .weekday {
      display: flex;
      margin-bottom: 7px;
      .abbreviation {
        width: 27px;
        margin-right: 18px;
        font-size: 16px;
        font-weight: 400;
        color: #585858;
      }
      .time {
        margin-right: 50px;
        .input-group {
          .input-group-append {
            .fa-clock {
              color: #495057;
              background-color: #e9ecef;
              border: 1px solid #ced4da;
              border-radius: 0.25rem;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              width: 42px;
              height: 38px;
              padding: 10px 10px;
            }
          }
        }
      }
    }
  }
  .acc {
    margin-top: 30px;
  }
  .user-settings {
    margin-top: 16px;
    max-width: none;
    .form-group {
      max-width: 250px;
    }
  }
}
