.navbar.fixed-left {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #353535;
  color: white;
  padding: 0px; }
  .navbar.fixed-left .nav-brand {
    padding: 0.5rem 1rem; }
    .navbar.fixed-left .nav-brand #logoSidebar {
      width: 53px;
      height: 50px; }

#navbarContent {
  padding-top: 1rem; }
  #navbarContent .nav-link {
    display: flex;
    flex-direction: row; }
    #navbarContent .nav-link svg {
      margin-right: 1rem; }
    #navbarContent .nav-link .icon-color-fill {
      fill: #bfbfbf; }
    #navbarContent .nav-link .icon-color-stroke {
      stroke: #bfbfbf; }
  #navbarContent .nav-item {
    width: 100%;
    text-decoration: none;
    display: block;
    font-weight: 400; }
  #navbarContent .nav-link {
    padding: 1rem 1.5rem; }
  #navbarContent a {
    color: inherit; }
  #navbarContent a:hover,
  #navbarContent a.active {
    background-color: #3e3e3e;
    cursor: pointer;
    font-weight: 600; }
    #navbarContent a:hover .icon-color-fill,
    #navbarContent a.active .icon-color-fill {
      fill: white; }
    #navbarContent a:hover .icon-color-stroke,
    #navbarContent a.active .icon-color-stroke {
      stroke: white; }

@media (min-width: 768px) {
  .navbar.fixed-left {
    bottom: 0;
    width: 232px;
    flex-flow: column nowrap;
    align-items: flex-start; } }
#customNavbar {
  background-color: #f5f5f5;
  border-bottom: 1px solid #c4c4c4;
  padding-left: 0px;
  padding-right: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 998; }

#navbarSymbols {
  margin-left: auto; }
  #navbarSymbols .navbar-nav {
    flex-direction: row; }
  #navbarSymbols .nav-item {
    margin-right: 1.7rem; }
  #navbarSymbols .nav-link {
    display: flex;
    flex-direction: column; }
    #navbarSymbols .nav-link.bell {
      margin-top: 4px; }
    #navbarSymbols .nav-link.user-icon {
      margin-top: 7px;
      font-size: 12px;
      color: white;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      justify-content: center; }
  #navbarSymbols a:hover {
    cursor: pointer; }

body {
  background-color: #fafafa; }

.content-container {
  padding: 25px 35px;
  margin-left: 232px;
  margin-top: 70px;
  display: flex;
  flex-direction: column; }
  .content-container h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0px; }
  .content-container h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0; }
    .content-container h3.dashboard {
      padding-top: 15px;
      padding-left: 15px;
      margin-bottom: 8px; }
  .content-container .inner-container {
    margin-top: 38px;
    display: flex;
    width: 100%; }
    .content-container .inner-container .sales-container {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      border-radius: 6px;
      width: 723px;
      height: 770px;
      margin-right: 85px; }
      .content-container .inner-container .sales-container .chart-container {
        display: flex;
        flex-direction: row;
        margin-top: auto; }
        .content-container .inner-container .sales-container .chart-container .chart {
          border: 1px solid black;
          width: 405px;
          height: 272px;
          margin-top: auto;
          margin-left: 24px;
          margin-bottom: 42px; }
        .content-container .inner-container .sales-container .chart-container .info-container {
          margin-top: auto;
          margin-left: 59px;
          margin-bottom: 58px; }
          .content-container .inner-container .sales-container .chart-container .info-container .month {
            color: #585858;
            font-size: 16px;
            font-weight: 400; }
          .content-container .inner-container .sales-container .chart-container .info-container .sum {
            color: #585858;
            font-size: 30px;
            font-weight: 600; }
    .content-container .inner-container .sold-container {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      border-radius: 6px;
      width: 810px;
      height: 415px; }
      .content-container .inner-container .sold-container .sort-container {
        display: flex;
        margin-left: auto;
        align-items: center; }
        .content-container .inner-container .sold-container .sort-container h4 {
          margin: 18px 15px;
          font-size: 14px;
          font-weight: 400; }
          .content-container .inner-container .sold-container .sort-container h4.active {
            font-weight: 600; }
          .content-container .inner-container .sold-container .sort-container h4:hover {
            cursor: pointer;
            opacity: 75%; }
      .content-container .inner-container .sold-container .btn-container {
        margin-top: auto; }
        .content-container .inner-container .sold-container .btn-container button {
          margin-left: 15px;
          margin-bottom: 15px;
          width: 40px;
          height: 40px;
          border: 1px solid #bfbfbf;
          border-radius: 6px; }
          .content-container .inner-container .sold-container .btn-container button.active {
            color: white;
            background-color: #353535; }
          .content-container .inner-container .sold-container .btn-container button:hover {
            cursor: pointer;
            background-color: #585858;
            color: #fff; }
    .content-container .inner-container ol {
      margin-left: 1rem; }
      .content-container .inner-container ol li {
        display: flex;
        color: #585858;
        margin-top: 20px; }
        .content-container .inner-container ol li.active {
          color: #353535; }
          .content-container .inner-container ol li.active .name {
            font-weight: 600; }
        .content-container .inner-container ol li .price {
          width: 130px;
          text-align: right;
          margin-right: 60px;
          font-size: 25px;
          font-weight: 600; }
        .content-container .inner-container ol li .name {
          font-size: 16px;
          display: flex;
          align-self: center; }
          .content-container .inner-container ol li .name:hover {
            cursor: pointer;
            opacity: 75%; }

.content-container .header-container {
  display: flex; }
  .content-container .header-container .btn-container {
    margin-left: auto;
    display: flex; }
    .content-container .header-container .btn-container .btn {
      width: 135px;
      height: 40px;
      font-size: 14px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center; }
.content-container .filter-container {
  margin-top: 13px;
  display: flex;
  flex-direction: row; }
  .content-container .filter-container #scope {
    align-self: center;
    width: 14px;
    height: 14px; }
  .content-container .filter-container input {
    margin-left: 8px;
    background: none;
    border: none; }
    .content-container .filter-container input:focus {
      outline: none; }
.content-container .table-container {
  margin-top: 30px; }
  .content-container .table-container .table td,
  .content-container .table-container .table th {
    border-bottom: 1px solid #c4c4c4;
    border-top: none; }
  .content-container .table-container .table thead {
    color: #bfbfbf;
    font-size: 16px;
    font-weight: 600px; }
  .content-container .table-container .table tbody tr:hover {
    background-color: #f5f5f5; }
    .content-container .table-container .table tbody tr:hover svg {
      visibility: visible; }
  .content-container .table-container .table tbody .name {
    display: flex; }
    .content-container .table-container .table tbody .name img {
      align-self: center;
      width: 59px;
      height: 34px; }
    .content-container .table-container .table tbody .name .info {
      margin-left: 37px; }
      .content-container .table-container .table tbody .name .info .heading {
        color: #1a1a1a;
        font-size: 14px; }
      .content-container .table-container .table tbody .name .info .category {
        color: #909090;
        font-size: 12px; }
  .content-container .table-container .table tbody .value {
    vertical-align: middle;
    font-size: 14px;
    color: #1a1a1a; }
  .content-container .table-container .table tbody .dots {
    vertical-align: middle; }
    .content-container .table-container .table tbody .dots svg {
      visibility: hidden; }
    .content-container .table-container .table tbody .dots .dropdown-menu {
      background-color: #353535;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 0px;
      left: 50px !important; }
      .content-container .table-container .table tbody .dots .dropdown-menu .dropdown-item {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 14px;
        color: #fff; }
        .content-container .table-container .table tbody .dots .dropdown-menu .dropdown-item:hover {
          color: #1a1a1a; }

.header-container img {
  width: 60px;
  height: 35px;
  margin-right: 26px; }

.subheading {
  margin-left: -35px;
  margin-right: -35px; }
  .subheading .heading {
    margin-left: 35px;
    width: fit-content;
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
    padding-bottom: 22px;
    border-bottom: 2px solid #1a1a1a; }
  .subheading .title-border {
    border-bottom: 1px solid #c4c4c4; }

form {
  max-width: 550px; }
  form .picture-container {
    display: flex;
    margin-top: 44px;
    align-items: center; }
    form .picture-container img {
      width: 50px;
      height: 30px;
      margin-right: 20px; }
    form .picture-container label {
      margin-left: 6px;
      cursor: pointer; }
  form .row {
    margin-bottom: 22px; }
    form .row .form-group {
      margin-right: 53px;
      margin-bottom: 0px;
      padding-right: 0px; }
      form .row .form-group input::-webkit-outer-spin-button,
      form .row .form-group input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }
      form .row .form-group input[type='number'] {
        -moz-appearance: textfield;
        /* Firefox */ }
    form .row label {
      font-size: 14px;
      font-weight: 400;
      color: #909090; }
    form .row textarea {
      resize: none; }

.btn-order {
  width: 160px !important; }

.order {
  margin-top: 35px; }
  .order .notifier {
    margin-bottom: 10px; }
  .order .new-line {
    display: flex;
    align-items: center;
    margin-bottom: 35px; }
    .order .new-line .pic-container {
      min-width: 160px;
      min-height: 90px;
      display: flex;
      align-items: center; }
      .order .new-line .pic-container .pizza-pic {
        max-width: 160px;
        max-height: 90px;
        width: 122px;
        height: 70px; }
      .order .new-line .pic-container .bruschetta-pic {
        max-width: 160px;
        max-height: 90px;
        width: 144px;
        height: 72px; }
    .order .new-line .description {
      margin-left: 10px; }
      .order .new-line .description .product-name {
        font-size: 18px;
        font-weight: 600;
        color: #1a1a1a; }
      .order .new-line .description .price {
        font-size: 18px;
        font-weight: 600;
        color: #585858; }
    .order .new-line .customer {
      margin-left: 57px;
      font-size: 18;
      font-weight: 400;
      color: #1a1a1a; }
    .order .new-line .btn-container {
      display: flex;
      margin-left: 140px; }
      .order .new-line .btn-container .btn {
        width: 135px;
        height: 40px;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center; }
    .order .new-line .delivery {
      display: flex;
      align-items: center;
      margin-left: 96px; }
      .order .new-line .delivery .fa-clock {
        width: 30px;
        height: 30px; }
      .order .new-line .delivery .delivery-time {
        font-size: 18px;
        font-weight: 400;
        color: #1a1a1a;
        margin-left: 14px; }
      .order .new-line .delivery .timer {
        font-size: 18px;
        font-weight: 600;
        color: #353535;
        margin-left: 32px; }

.order-in-progress-container {
  margin-top: 50px; }

.new-order-dialog {
  max-height: 900px;
  max-width: 1080px; }
  .new-order-dialog .new-order-content {
    background-color: #fafafa; }
    .new-order-dialog .new-order-content .modal-header {
      border-bottom: 1px solid #c4c4c4;
      padding: 20px 40px; }
      .new-order-dialog .new-order-content .modal-header .modal-title {
        font-size: 25px;
        font-weight: 600;
        color: #353535; }
    .new-order-dialog .new-order-content .modal-body {
      padding: 30px 40px;
      height: 750px;
      max-height: 750px;
      overflow-y: auto; }
      .new-order-dialog .new-order-content .modal-body .input-group-prepend {
        background-color: #fff;
        border: 1px solid #c4c4c4;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        width: 38px;
        height: 38px;
        padding: 10px 10px; }
        .new-order-dialog .new-order-content .modal-body .input-group-prepend .scope-pic {
          width: 20px;
          height: 18px; }
      .new-order-dialog .new-order-content .modal-body .search-bar {
        border-left: none;
        border-color: #c4c4c4; }
        .new-order-dialog .new-order-content .modal-body .search-bar:focus {
          outline: none;
          box-shadow: none;
          border-color: #c4c4c4; }
      .new-order-dialog .new-order-content .modal-body .suggestion {
        margin-top: 40px; }
        .new-order-dialog .new-order-content .modal-body .suggestion .heading {
          font-size: 18px;
          font-weight: 600; }
        .new-order-dialog .new-order-content .modal-body .suggestion .item-container {
          display: flex; }
          .new-order-dialog .new-order-content .modal-body .suggestion .item-container .item {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-right: 20px;
            max-width: 146px;
            min-width: 146px;
            height: 200px;
            border: 1px solid #c4c4c4;
            border-radius: 6px; }
            .new-order-dialog .new-order-content .modal-body .suggestion .item-container .item.active {
              border-color: #009046;
              border-width: 2px; }
            .new-order-dialog .new-order-content .modal-body .suggestion .item-container .item .item-pic {
              margin: 0 auto;
              margin-top: 15px;
              width: 109px;
              height: 62px; }
            .new-order-dialog .new-order-content .modal-body .suggestion .item-container .item .name {
              font-size: 16px;
              font-weight: 600;
              color: #585858;
              text-align: center;
              padding: 16px 10px; }
            .new-order-dialog .new-order-content .modal-body .suggestion .item-container .item .price {
              font-size: 18px;
              font-weight: 700;
              color: #009046;
              text-align: center;
              margin-top: auto;
              margin-bottom: 10px; }
    .new-order-dialog .new-order-content .modal-footer {
      padding: 20px 40px;
      background-color: #f0f0f0; }
      .new-order-dialog .new-order-content .modal-footer .btn {
        width: 190px;
        height: 40px;
        font-size: 14px; }

.accept-order-dialog {
  max-height: 340px;
  max-width: 520px; }
  .accept-order-dialog .accept-order-content {
    background-color: #fafafa; }
    .accept-order-dialog .accept-order-content .modal-header {
      border-bottom: 1px solid #c4c4c4;
      padding: 20px 40px; }
      .accept-order-dialog .accept-order-content .modal-header .modal-title {
        font-size: 25px;
        font-weight: 600;
        color: #353535; }
    .accept-order-dialog .accept-order-content .modal-body {
      padding: 30px 40px;
      height: 265px;
      overflow-y: auto;
      display: flex;
      flex-direction: column; }
      .accept-order-dialog .accept-order-content .modal-body .line-wrapper {
        display: flex; }
        .accept-order-dialog .accept-order-content .modal-body .line-wrapper .title {
          font-size: 18px;
          font-weight: 400;
          color: #353535;
          min-width: 160px; }
        .accept-order-dialog .accept-order-content .modal-body .line-wrapper .time-container {
          display: flex; }
          .accept-order-dialog .accept-order-content .modal-body .line-wrapper .time-container .fa-clock {
            margin-left: 50px;
            width: 30px;
            height: 30px;
            color: #353535; }
          .accept-order-dialog .accept-order-content .modal-body .line-wrapper .time-container .datetime {
            font-size: 18px;
            font-weight: 400;
            color: #1a1a1a;
            margin-left: 15px; }
        .accept-order-dialog .accept-order-content .modal-body .line-wrapper .time-selecter {
          display: flex;
          margin-left: 50px;
          border-radius: 90px; }
      .accept-order-dialog .accept-order-content .modal-body .accept {
        margin-top: auto; }

.wrapper {
  width: 100%; }
  .wrapper .section .heading {
    padding-left: 0px; }
  .wrapper .opening-hours {
    margin-top: 23px;
    margin-bottom: 56px; }
    .wrapper .opening-hours .weekday {
      display: flex;
      margin-bottom: 7px; }
      .wrapper .opening-hours .weekday .abbreviation {
        width: 27px;
        margin-right: 18px;
        font-size: 16px;
        font-weight: 400;
        color: #585858; }
      .wrapper .opening-hours .weekday .time {
        margin-right: 50px; }
        .wrapper .opening-hours .weekday .time .input-group .input-group-append .fa-clock {
          color: #495057;
          background-color: #e9ecef;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          width: 42px;
          height: 38px;
          padding: 10px 10px; }
  .wrapper .acc {
    margin-top: 30px; }
  .wrapper .user-settings {
    margin-top: 16px;
    max-width: none; }
    .wrapper .user-settings .form-group {
      max-width: 250px; }
