.navbar.fixed-left {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  background-color: #353535;
  color: white;
  padding: 0px; }
  .navbar.fixed-left .nav-brand {
    padding: 0.5rem 1rem; }
    .navbar.fixed-left .nav-brand #logoSidebar {
      width: 53px;
      height: 50px; }

#navbarContent {
  padding-top: 1rem; }
  #navbarContent .nav-link {
    display: flex;
    flex-direction: row; }
    #navbarContent .nav-link svg {
      margin-right: 1rem; }
    #navbarContent .nav-link .icon-color-fill {
      fill: #bfbfbf; }
    #navbarContent .nav-link .icon-color-stroke {
      stroke: #bfbfbf; }
  #navbarContent .nav-item {
    width: 100%;
    text-decoration: none;
    display: block;
    font-weight: 400; }
  #navbarContent .nav-link {
    padding: 1rem 1.5rem; }
  #navbarContent a {
    color: inherit; }
  #navbarContent a:hover,
  #navbarContent a.active {
    background-color: #3e3e3e;
    cursor: pointer;
    font-weight: 600; }
    #navbarContent a:hover .icon-color-fill,
    #navbarContent a.active .icon-color-fill {
      fill: white; }
    #navbarContent a:hover .icon-color-stroke,
    #navbarContent a.active .icon-color-stroke {
      stroke: white; }

@media (min-width: 768px) {
  .navbar.fixed-left {
    bottom: 0;
    width: 232px;
    flex-flow: column nowrap;
    align-items: flex-start; } }
#customNavbar {
  background-color: #f5f5f5;
  border-bottom: 1px solid #c4c4c4;
  padding-left: 0px;
  padding-right: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px; }

#navbarSymbols {
  margin-left: auto; }
  #navbarSymbols .navbar-nav {
    flex-direction: row; }
  #navbarSymbols .nav-item {
    margin-right: 1.7rem; }
  #navbarSymbols .nav-link {
    display: flex;
    flex-direction: column; }
    #navbarSymbols .nav-link.bell {
      margin-top: 4px; }
  #navbarSymbols a:hover {
    cursor: pointer; }

body {
  background-color: #fafafa; }

.content-container {
  padding: 28px 35px;
  margin-left: 232px;
  margin-top: 70px;
  display: flex;
  flex-direction: column; }
  .content-container h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0px; }
  .content-container h3 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 15px;
    padding-left: 15px; }
  .content-container .inner-container {
    margin-top: 38px;
    display: flex;
    width: 100%; }
    .content-container .inner-container .sales-container {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      border-radius: 6px;
      width: 723px;
      height: 770px;
      margin-right: 85px; }
      .content-container .inner-container .sales-container .chart-container {
        display: flex;
        flex-direction: row;
        margin-top: auto; }
        .content-container .inner-container .sales-container .chart-container .chart {
          border: 1px solid black;
          width: 405px;
          height: 272px;
          margin-top: auto;
          margin-left: 24px;
          margin-bottom: 42px; }
        .content-container .inner-container .sales-container .chart-container .info-container {
          margin-top: auto;
          margin-left: 59px;
          margin-bottom: 58px; }
          .content-container .inner-container .sales-container .chart-container .info-container .month {
            color: #585858;
            font-size: 16px;
            font-weight: 400; }
          .content-container .inner-container .sales-container .chart-container .info-container .sum {
            color: #585858;
            font-size: 30px;
            font-weight: 600; }
    .content-container .inner-container .sold-container {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      border-radius: 6px;
      width: 810px;
      height: 415px; }
      .content-container .inner-container .sold-container .sort-container {
        display: flex;
        margin-left: auto;
        align-items: center; }
        .content-container .inner-container .sold-container .sort-container h4 {
          margin: 18px 15px;
          font-size: 14px;
          font-weight: 400; }
          .content-container .inner-container .sold-container .sort-container h4.active {
            font-weight: 600; }
          .content-container .inner-container .sold-container .sort-container h4:hover {
            cursor: pointer;
            opacity: 75%; }
      .content-container .inner-container .sold-container .btn-container {
        margin-top: auto; }
        .content-container .inner-container .sold-container .btn-container button {
          margin-left: 15px;
          margin-bottom: 15px;
          width: 40px;
          height: 40px;
          border: 1px solid #bfbfbf;
          border-radius: 6px; }
          .content-container .inner-container .sold-container .btn-container button.active {
            color: white;
            background-color: #353535; }
          .content-container .inner-container .sold-container .btn-container button:hover {
            cursor: pointer;
            background-color: #585858;
            color: #fff; }
    .content-container .inner-container ol {
      margin-left: 1rem; }
      .content-container .inner-container ol li {
        display: flex;
        color: #585858;
        margin-top: 20px; }
        .content-container .inner-container ol li.active {
          color: #353535; }
          .content-container .inner-container ol li.active .name {
            font-weight: 600; }
        .content-container .inner-container ol li .price {
          width: 130px;
          text-align: right;
          margin-right: 60px;
          font-size: 25px;
          font-weight: 600; }
        .content-container .inner-container ol li .name {
          font-size: 16px;
          display: flex;
          align-self: center; }
          .content-container .inner-container ol li .name:hover {
            cursor: pointer;
            opacity: 75%; }

.content-container .header-container {
  display: flex; }
  .content-container .header-container .btn-container {
    margin-left: auto; }
    .content-container .header-container .btn-container button {
      width: 135px;
      height: 40px; }
.content-container .filter-container {
  margin-top: 13px;
  display: flex;
  flex-direction: row; }
  .content-container .filter-container #scope {
    align-self: center;
    width: 14px;
    height: 14px; }
  .content-container .filter-container input {
    margin-left: 8px;
    background: none;
    border: none; }
    .content-container .filter-container input:focus {
      outline: none; }
.content-container .table-container .table thead {
  color: #bfbfbf;
  font-size: 16px;
  font-weight: 600px; }
.content-container .table-container .table tbody tr:hover {
  background-color: #f5f5f5; }
.content-container .table-container .table tbody .name {
  display: flex; }
  .content-container .table-container .table tbody .name img {
    align-self: center;
    width: 59px;
    height: 34px; }
  .content-container .table-container .table tbody .name .info {
    margin-left: 37px; }
    .content-container .table-container .table tbody .name .info .heading {
      color: #1a1a1a;
      font-size: 14px; }
    .content-container .table-container .table tbody .name .info .category {
      color: #909090;
      font-size: 12px; }
.content-container .table-container .table tbody .value {
  font-size: 14px;
  color: #1a1a1a; }
