.body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.container {
  width: 644px;
  height: 523px;
  border: 1px solid #bfbfbf;
  border-radius: 6px;
  margin-top: 20vh; }

#logo {
  width: 66px;
  height: 65px;
  float: left; }

.brand-name {
  font-size: 17.5px; }

.brand-subtitle {
  font-size: 12px; }

h2 {
  font-size: 30px;
  font-weight: 600; }

.form-group .btn {
  font-size: 14px;
  width: 162px;
  height: 40px;
  border-radius: 6px; }
.form-group label {
  font-size: 14px;
  margin-bottom: 2px; }

.form-control {
  width: 250px;
  height: 35px; }

#logoSidebar {
  width: 53px;
  height: 50px; }

nav-item {
  color: #fff; }

.navbar.fixed-left {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030; }

@media (min-width: 768px) {
  .navbar.fixed-left {
    bottom: 0;
    width: 232px;
    flex-flow: column nowrap;
    align-items: flex-start; } }
