.content-container {
  .header-container {
    display: flex;
    .btn-container {
      margin-left: auto;
      display: flex;
      .btn {
        width: 135px;
        height: 40px;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .filter-container {
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    #scope {
      align-self: center;
      width: 14px;
      height: 14px;
    }
    input {
      margin-left: 8px;
      background: none;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
  .table-container {
    margin-top: 30px;
    .table {
      td,
      th {
        border-bottom: 1px solid #c4c4c4;
        border-top: none;
      }
      thead {
        color: #bfbfbf;
        font-size: 16px;
        font-weight: 600px;
      }

      tbody {
        tr:hover {
          background-color: #f5f5f5;
          svg {
            visibility: visible;
          }
        }
        .name {
          display: flex;
          img {
            align-self: center;
            width: 59px;
            height: 34px;
          }
          .info {
            margin-left: 37px;
            .heading {
              color: #1a1a1a;
              font-size: 14px;
            }
            .category {
              color: #909090;
              font-size: 12px;
            }
          }
        }
        .value {
          vertical-align: middle;
          font-size: 14px;
          color: #1a1a1a;
        }
        .dots {
          vertical-align: middle;
          svg {
            visibility: hidden;
          }
          .dropdown-menu {
            background-color: #353535;
            padding-top: 0px;
            padding-bottom: 0px;
            margin-top: 0px;
            left: 50px !important;
            .dropdown-item {
              padding-top: 8px;
              padding-bottom: 8px;
              font-size: 14px;
              color: #fff;
              &:hover {
                color: #1a1a1a;
              }
            }
          }
        }
      }
    }
  }
}
